---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="underline font-bold text-7xl">Harry Findlay.</h1>
			<br>
			<h2 class="text-xl">Software Engineer.</h2>
			<br>

			<p>
				Final year student at the University of Exeter studying BSc Computer Science.
			</p>
			<br>
			<p>
				Dissertation on applying Deep-RL to compiler optimisation.
			</p>
			<br>
			<p>Download CV <a href="/Harry_Findlay_CV_2023.pdf" download> <img class="inline mb-2" src="/cv_icon.png" alt="" width="24" height="24">
				</a>.
			</p>

		</main>
		<Footer />
	</body>
</html>
