---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="underline font-bold text-7xl">Harry Findlay</h1>
			<br>
			<h2 class="text-xl">Software Engineer</h2>
			<br>

			<p>
				Final year student at the University of Exeter studying BSc Computer Science
			</p>
			<br>
		</main>
		<Footer />
	</body>
</html>
