---
const today = new Date();
---

<footer class="pl-8 pr-4 pb-32 pt-4 text-center bg-slate-100">
	<p class="inline-block align-middle">&copy; {today.getFullYear()} Harry Findlay. All rights reserved.</p>
</footer>

